@model IEnumerable<ControllRR.Application.Dto.BusinessCompanyDto>
 @{
    ViewData["Title"] = "Registro de Empresas";
}


<div class="container-fluid px-4">
    <h1 class="mt-4"></h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Devices">Empresa</a></li>
          <li class="breadcrumb-item active">Consulta</li>
    </ol>
</div>
@if (TempData["ListCompanySucessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["ListCompanySucessMessage"]
    </div>
}
@if (TempData["ListCompanyErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ListCompanyErrorMessage"]
    </div>
}
 <div class="mt-4">
         <a asp-action="New" class="btn btn-primary">Adicionar Empresa</a>
       
    </div>
<div class="row">
<div class="col-md-12">
<br>
<div class="container">
<div class="row">
<div class="col-12">
<div class="card">
<div class="card-header text-center bg-dark text-white">
<div class="row align-items-center">
<div class="col-md-12">
<h5>::Detalhes da Empresa configurada::</h5>
</div>
</div>
</div>

<div class="card mt-12">
<div class="card-header">Data::
</div>
<div class="card-body">
<div class="row">
  @await Html.PartialAsync("Partials/_LoadingPartial")
  @await Html.PartialAsync("Partials/_ListCompanyForm", Model)
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
       <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
</script>

   
}