@page
@using ControllRR.Domain.Entities
@model LoginModel
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Entrar";
} 
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/main.css">
<!--===============================================================================================-->
<div>
    <div class="container-login100" style="background-image: url('/css/Images/inicio.jpg');">
        <div class="wrap-login100 p-t-30 p-b-50">
            <span class="login100-form-title p-b-41">
                ControllRR<br>
                <h6 class="box-title">Gerenciamento</h6>
            </span>
            
            <form class="login100-form validate-form p-b-33 p-t-5" id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="wrap-input100 validate-input" data-validate="Usuario">
                    <input asp-for="Input.Email" class="input100" autocomplete="username" placeholder="Usuário" />
                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                
                <div class="wrap-input100 validate-input" data-validate="Digite a Sua Senha">
                    <input asp-for="Input.Password" class="input100" type="password" autocomplete="current-password" placeholder="Senha" />
                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                
                <div class="container-login100-form-btn">
                    <input type="submit" name="submit" value="Login" class="btn btn-primary btn-lg">
                </div>
                
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("ADMIN"))
                {
                    <div class="text-center p-t-10">
                        <a id="forgot-password" asp-page="./ForgotPassword">Esqueci minha senha</a>
                    </div>
                    <div class="text-center p-t-10">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar um novo usuário</a>
                    </div>
                    <div class="text-center p-t-10">
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar email de confirmação</a>
                    </div>
                }
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}