@model IEnumerable<ControllRR.Application.Dto.PurchaseOrderDto>

@if (Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Data</th>
                <th>Nota Fiscal</th>
                <th>Total</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
                    <td>@order.InvoiceNumber</td>
                    <td>@order.TotalAmount.ToString("C")</td>
                    <td>
                     <a class="btn btn-sm btn-success" href="/Suppliers/ShowNfeDetails/@order.Id" onclick="displayBusyIndicator()"><span class="fa fa-eye"></span> Ver</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Nenhuma ordem de compra encontrada.</div>
}