@*/Views/Suppliers/Partials/_AddProductForm.cshtml*@ 
@using ControllRR.Application.Dto
@model StockDto

<form asp-controller="Suppliers" asp-action="SupplierNewProduct" method="post">
    <!-- SupplierId necessario para cadastro dos produtos serem relacionados ao fornecedor -->    
    <input type="hidden" asp-for="SupplierId" />
    <div class="row">
    <div class="form-group col-md-3">
    <label asp-for="InvoiceNumber" class="control-label"></label>
    <!-- Campo visível para busca (ID único) -->
    <input id="invoiceNumberSearch" class="form-control" placeholder="Procure pelo número da ordem"/>
    <!-- Campo hidden para valor real (ID único) -->
    <input type="hidden" asp-for="InvoiceNumber" id="invoiceNumberHidden" />
    <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
</div>
 <div class="form-group col-md-2">
    <label asp-for="PurchaseOrderId" class="control-label"></label>
    <input asp-for="PurchaseOrderId" id="purchaseOrderId" class="form-control" readonly/>
    <span asp-validation-for="PurchaseOrderId" class="text-danger"></span>
    </div>
   <div class="form-group col-md-4">
    <label asp-for="ProductName" class="control-label"></label>
    <input asp-for="ProductName" id="StockDto.ProductProductName" class="form-control" />
    <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
     <div class="form-group col-md-3">
    <label asp-for="ProductDescription"></label>
    <input asp-for="ProductDescription" id="StockDto.ProductDescription" class="form-control" />
    <span asp-validation-for="ProductDescription" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
    <label asp-for="ProductApplication"></label>
    <input asp-for="ProductApplication" id="StockDto.ProductApplication" class="form-control" />
    <span asp-validation-for="ProductApplication" class="text-danger"></span>
    </div> 
    <div class="form-group col-md-3">
     <label asp-for="ProductReference"></label>
    <input asp-for="ProductReference" id="StockDto.ProductReference" class="form-control" />
    <span asp-validation-for="ProductReference" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
     <label asp-for="ProductInternalCode"></label>
    <input asp-for="ProductInternalCode" id="StockDto.ProductInternalCode" class="form-control" />
    <span asp-validation-for="ProductInternalCode" class="text-danger"></span>
    </div>
     <div class="form-group col-md-2">
     <label asp-for="ProductQuantity"></label>
    <input asp-for="ProductQuantity" id="StockDto.ProductQuantity" class="form-control" />
    <span asp-validation-for="ProductQuantity" class="text-danger"></span>
    </div>
   <div class="form-group col-md-3">
     <label asp-for="PurchasePrice"></label>
    <input asp-for="PurchasePrice" id="StockDto.PurchasePrice" class="form-control" />
    <span asp-validation-for="PurchasePrice" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
     <label asp-for="TaxRate"></label>
    <input asp-for="TaxRate" id="StockDto.TaxRate" class="form-control" />
    <span asp-validation-for="TaxRate" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
     <label asp-for="Profit"></label>
    <input asp-for="Profit" id="StockDto.Profit" class="form-control" />
    <span asp-validation-for="Profit" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
     <label asp-for="SalePrice"></label>
    <input asp-for="SalePrice" id="StockDto.SalePrice" class="form-control" />
    <span asp-validation-for="SalePrice" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
     <label asp-for="PriceSugested"></label>
    <input asp-for="PriceSugested" id="StockDto.PriceSugested" class="form-control" readonly/>
    <span asp-validation-for="PriceSugested" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
     <label asp-for="ProductBarCode"></label>
    <input asp-for="ProductBarCode" id="StockDto.ProductBarCode" class="form-control"/>
    <span asp-validation-for="ProductBarCode" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
     <label asp-for="UnitPrice"></label>
    <input asp-for="UnitPrice" id="StockDto.UnitPrice" class="form-control"/>
    <span asp-validation-for="UnitPrice" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
     <label asp-for="TaxAmount"></label>
    <input asp-for="TaxAmount" id="StockDto.TaxAmount" class="form-control"/>
    <span asp-validation-for="TaxAmount" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
     <label asp-for="IcmsAmount"></label>
    <input asp-for="IcmsAmount" id="StockDto.IcmsAmount" class="form-control"/>
    <span asp-validation-for="IcmsAmount" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
     <label asp-for="IcmsBase"></label>
    <input asp-for="IcmsBase" id="StockDto.IcmsBase" class="form-control"/>
    <span asp-validation-for="IcmsBase" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
     <label asp-for="PisBase"></label>
    <input asp-for="PisBase" id="StockDto.PisBase" class="form-control"/>
    <span asp-validation-for="PisBase" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
     <label asp-for="PisAmount"></label>
    <input asp-for="PisAmount" id="StockDto.PisAmount" class="form-control"/>
    <span asp-validation-for="PisAmount" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
     <label asp-for="CofinsBase"></label>
    <input asp-for="CofinsBase" id="StockDto.CofinsBase" class="form-control"/>
    <span asp-validation-for="CofinsBase" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
     <label asp-for="CofinsAmount"></label>
    <input asp-for="CofinsAmount" id="StockDto.CofinsAmount" class="form-control"/>
    <span asp-validation-for="CofinsAmount" class="text-danger"></span>
    </div>
    <div id="purchaseItems" class="col-12">
        <!-- Itens serão adicionados dinamicamente via JS Por hora estou preservando essas ações de novos campos para o futuro-->
    </div>

    <div class="mt-4">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#StockProduct">Inser Movimentação</button>
    <button type="submit" class="btn btn-primary">Salvar Produto</button>
     <button type="button" class="btn btn-secondary" onclick="addPurchaseItem()">Adicionar Item</button>
    </div>
</form> 
  