@model IEnumerable<ControllRR.Application.Dto.ApplicationUserDto>

 @{

 }
 @await Html.PartialAsync("Partials/_GetAll", Model)

@section Scripts {
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
       $('#usersTable').DataTable({
    processing: true,
    serverSide: true,
    ajax: {
        url: '/Users/GetList', // URL do endpoint no backend
        type: 'POST',
        dataType: 'json'
    },
    columns: [
        { data: 'name', name: 'Name' },
        { data: 'userName', name: 'UserName' },
        { data: 'phone', name: 'Phone' },
        { data: 'email', name: 'Email' },
        { data: 'role', name: 'Role' },
        { 
            data: null, // Coluna para ações
            orderable: false,
            searchable: false,
            render: function(data, type, row) {
                return `
                    <a class="btn btn-sm btn-success" href="/Users/UserDetails/${row.id}"><span class="fa fa-eye"></span> Ver</a></button>
                    <a class="btn btn-sm btn-warning" href="/Users/ChangeUser/${row.id}"><span class="fa fa-edit"></span> Editar</a></button>
                `;
            }
        }
    ],
    language: {
        lengthMenu: 'Exibir _MENU_ registros por página',
        zeroRecords: 'Nenhum registro encontrado',
        info: 'Exibindo página _PAGE_ de _PAGES_',
        infoEmpty: 'Nenhum registro disponível',
        infoFiltered: '(filtrado de _MAX_ registros no total)',
        search: 'Pesquisar:',
        paginate: {
            first: 'Primeiro',
            last: 'Último',
            next: 'Próximo',
            previous: 'Anterior'
        }
    },
});

    </script>
}
